@media only screen and (min-width:768px) and (max-width:959px){.padding-r,
.padding-l{padding:0;}
.order-buttons{display:none !important;}
.sorter .view-mode{padding-top:0;}
.page{max-width:768px;}
.header{margin:0;}
.account-login .registered-users .form-list input.input-text{width:326px;}
.cart .crosssell button.btn-cart{float:none;margin-bottom:10px;}
.cart .crosssell .add-to-links{float:none;}
.cart .crosssell .product-details button.button > span{font-size:11px;}
.cart .discount-form .input-box input{width:198px;}
.shipping .jqTransformSelectWrapper{width:204px !important;}
.shipping .jqTransformSelectWrapper > div > span{font-size:11px;}
.form-list .input-box{width:225px;}
.cart .shipping .form-list li input{width:198px;}
.cart .shipping .form-list li select{width:205px;}
.cart .shipping .form-list li select option{width:174px;}
.cart .totals button.button > span{font-size:14px;}
.cart .totals table th,
.cart .totals table td{font-size:11px;padding:15px 10px;}
.cart .totals table td+td{padding:15px 10px;}
.cart .totals .price{font-size:18px;}
.block-cart .mini-products-list .product-name{width:100px;}
.info-header{width:210px;}
.info-header .text-1{font-size:24px;}
.info-header .text-3{display:none;}
.header-button:hover > a, .top-login:hover ul li a{background-color:#953046;border-color:#953046;color:#fff;}
#block-related .product .product-image{width:50px;}
#block-related .product .product-image img{height:50px;width:50px;}
.products-grid li.item{margin-right:15px;width:172px;}
.products-grid li.last{margin-right:0;}
.products-grid .product-image{width:172px;height:auto;}
.products-grid img{max-width:100%;}
.regular-price,
.products-grid li.item .minimal-price-link{float:none;}
.products-grid li.item .price-box.map-info a{float:none;padding:0;margin-top:2px;}
.products-grid li.item .regular-price,
.products-grid li.item .old-price{display:block;}
.products-grid li.item .ratings .rating-box{float:none;margin:0 42px 10px;}
.products-grid li.item .ratings .amount{float:none;display:block;text-align:center;margin:0;}
.product-shop .price-box{float:none;}
.cms-home .products-grid li.item{width:142px;}
.cms-home .products-grid .product-image{width:122px;padding:10px;}
.product-view .product-img-box .product-image-zoom,
.product-view .product-img-box .product-image-zoom img{height:192px !important;width:192px !important;}
.product-view .product-img-box .more-views li.item-4{margin-left:0;}
.product-view .product-img-box{float:none;width:310px;margin:0 auto 30px;}
.product-view .product-shop{float:none;width:auto;}
.catalog-product-view .map-popup{left:0 !important;}
.block-subscribe .input-box input{width:165px;}
.video{height:390px;}
.video iframe{height:390px;width:566px;}
.mini-products-list .product-name{width:102px;}
.my-account a{text-decoration:underline;}
.my-account a:hover{text-decoration:none;}
.opc .field{width:267px;}
.opc .fields input,
.opc .field input{width:242px;}
.opc .fields select,
.opc .field select{width:248px;}
.opc .fields select option,
.opc .field select option{width:217px;}
.opc .form-list li.wide input.input-text{width:509px;}
.opc .name-middlename{width:149px;}
.opc .form-list .customer-name-suffix .name-lastname,
.opc .form-list .customer-name-middlename .name-firstname,
.opc .form-list .customer-name-middlename-suffix .name-firstname,
.opc .form-list .customer-name-middlename-suffix .name-lastname{width:118px;}
.opc .form-list .customer-name-prefix .name-firstname input.input-text,
.opc .form-list .customer-name-suffix .name-lastname input.input-text,
.opc .form-list .customer-name-middlename .name-firstname input.input-text,
.opc .form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.opc .form-list .customer-name-middlename-suffix .name-lastname input.input-text{width:93px;}
.box-up-sell{height:auto;}
.box-up-sell h2{font-size:12px;line-height:15px;}
.box-up-sell .jcarousel-clip{width:524px;}
.box-up-sell .jcarousel-next,
.box-up-sell .jcarousel-prev{top:10px;}
.box-up-sell ul li{margin-right:19px;width:136px !important;}
.box-up-sell ul.jcarousel-list li{margin-right:19px !important;}
.box-up-sell ul li .product-image img{height:136px;width:136px;}
#multiship-addresses-table{}
#multiship-addresses-table select{width:200px;}
#multiship-addresses-table select option{width:170px;}
#wishlist-view-form #wishlist-table textarea{min-width:225px;max-width:225px;}
.checkout-progress li,
.checkout-progress li span{width:120px;}
#checkout-step-login .col2-set .col-1{margin-bottom:10px;}
#checkout-step-login .col2-set .col-1,
#checkout-step-login .col2-set .col-2{float:none;margin-right:0;width:524px;}
.ratings .rating-links .separator{}
.multiple-checkout .gift-messages-form .item .details .field{width:267px;}
.multiple-checkout .gift-messages-form .form-list input.input-text{width:261px;}
.multiple-checkout .gift-messages-form .inner-box .form-list li.wide textarea{width:260px;}
.cms-about-magento-demo-store .about-col-1,
.cms-about-magento-demo-store .about-col-2,
.cms-about-magento-demo-store .about-col-3{width:216px;padding:214px 15px 15px;}
.cms-about-magento-demo-store .about-col-4,
.cms-about-magento-demo-store .about-col-5,
.cms-about-magento-demo-store .about-col-6{width:246px;}
.cms-about-magento-demo-store .about-col-4 ul,
.cms-about-magento-demo-store .about-col-5 ul,
.cms-about-magento-demo-store .about-col-6 ul{padding:25px 0 12px 20px;}
.cms-about-magento-demo-store .about-col-4 ul li,
.cms-about-magento-demo-store .about-col-5 ul li,
.cms-about-magento-demo-store .about-col-6 ul li{padding-left:0;}
.block-poll .answer{width:110px;}
.footer-cols-wrapper{position:relative;overflow:hidden;}
.footer-col{margin-right:10px;width:182px;}
.footer-col.last{margin-right:0;}
.my-account #wishlist-view-form #wishlist-table .product-image img{height:100px;width:100px;}
.my-account .data-table th, .my-account .data-table td{padding:5px;}
#wishlist-view-form .buttons-set.buttons-set2{text-align:center;}
#wishlist-view-form .buttons-set.buttons-set2 button.button{float:none;margin:0 10px 10px 0 !important;}
#customer-reviews button.button{float:left;}
.map-content figure iframe{width:758px;}
.contact-left{width:200px;}
#contactForm{width:538px;}
#contactForm .form-list .field{width:183px;}
#contactForm .form-list .field.last{width:171px;}
#contactForm .form-list input.input-text{width:165px;}
#contactForm .form-list li.wide textarea{width:530px;}
.banner-block{width:486px;}
.banner-block strong{font-size:30px;line-height:33px;}
.banner-block span{font-size:20px;line-height:20px;}
.block-subscribe-header{width:232px;padding-left:15px;padding-top:10px;}
.block-subscribe-header .input-box{width:145px;}
.block-subscribe-header input.input-text{width:137px;}
.addthis_counter{clear:inherit;}
.main-banner{width:244px;}
}
@media only screen and (max-width:767px){body{background-position:0 0;}
.page{max-width:320px;background:#fff;}
.header{margin:0 0 10px;}
.header .headr-row{border:0;padding:0;margin:0;}
.header .logo{margin-top:23px;width:150px;}
.info-header{display:none;}
.class-home{padding-top:0;}
.header .quick-access{padding:0;margin:0;border:0;}
#search_mini_form{margin:0;padding-top:26px;display:none;}
.phone-style #search_mini_form{display:block;}
.block-cart-header h3{float:none;}
.block-cart-header{background-position:0 10px;padding-left:45px;}
.order-buttons{display:none !important;}
.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6{float:none;}
.header .form-search button.button > span{height:43px;line-height:43px;}
.header .form-search button.button span span{padding:0;width:73px;display:block;text-align:center;}
.header .form-search .input-text{font-size:14px;line-height:17px;width:227px;padding-top:12px;padding-bottom:13px;}
.block-cart-header{margin:0;}
.block-cart-header .price{display:inline;}
.toolbar{margin-bottom:20px;}
.toolbar .sorter{display:none;}
.toolbar .pager{padding:0 18px 10px 0;}
.toolbar .pager .amount{padding:0;}
.toolbar .pager .pages{margin:0;float:none;text-align:center;padding-top:10px;}
.toolbar .pager .pages strong{display:none;}
.pager .pages li{font-size:14px;line-height:17px;font-weight:normal;margin-right:10px;}
.breadcrumbs{display:none;}
.indent-sw1{margin-bottom:20px;}
.account-login .registered-users .form-list input.input-text{width:252px;}
.form-list select{width:300px;}
.form-list input.input-text,
.form-list li.wide input.input-text{width:294px;}
.form-list .name-middlename{width:117px;}
.form-list .customer-name-prefix .name-firstname input.input-text,
.form-list .customer-name-suffix .name-lastname input.input-text,
.form-list .customer-name-middlename .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-lastname input.input-text{width:155px;}
.form-list .customer-name-suffix .name-lastname,
.form-list .customer-name-middlename .name-firstname,
.form-list .customer-name-middlename-suffix .name-firstname,
.form-list .customer-name-middlename-suffix .name-lastname{width:183px;}
.form-list .name-middlename input.input-text{width:111px;}
.form-list .customer-dob .dob-year input.input-text{width:174px;}
.cart .discount-form .input-box input{width:252px;}
.shipping .jqTransformSelectWrapper{width:258px !important;}
.cart .shipping .form-list li input{width:252px;}
#shopping-cart-table{display:block;width:300px;}
#checkout-step-login .col-2 .form-list input.input-text{width:253px;}
.page-title,
.category-title{margin-bottom:16px;}
.catalog-category-view .page-title h1{font-size:17px;line-height:21px;padding:0 10px 15px;}
.block .block-title{background:none;border-bottom:1px solid #ece5e3;padding-bottom:6px;}
.pager .amount,
.pager .limiter{}
.pager .pages{clear:both;margin:0;text-align:right;}
.products-grid{margin-bottom:0 !important;}
.products-grid li.item{border-bottom:1px solid #e5e5e5;overflow:hidden;position:relative;padding-bottom:20px;margin:0 0 20px;width:300px;}
.products-grid .product-image,
.products-list .product-image{float:left;margin:0;width:90px;}
.products-grid img,
.products-list img{height:auto;width:90px;}
.products-grid .product-shop,
.products-list .product-shop{float:left;margin-left:20px;width:190px;}
.products-grid button.button,
.products-list button.button{margin-right:41px;}
.products-grid button.button > span,
.products-list button.button > span{height:43px;line-height:25px;}
.products-grid button.button span span,
.products-list button.button span span{padding:9px 19px;}
.products-grid .add-to-links,
.products-list .add-to-links{display:none;}
.products-list .desc,
.products-list .ratings .rating-links a+span+a,
.products-list .ratings .rating-links .separator{display:none;}
.cms-home .products-grid li.item{float:none;margin:0 0 10px;width:100%;}
.cms-home .products-grid li.last{border:0;}
.cms-home .products-grid .product-shop2{overflow:hidden;}
.cms-home .products-grid .product-image{width:90px;margin-right:20px;padding:0;height:auto;}
.product-view{margin-bottom:5px;}
.product-view .product-img-box{float:none;}
.product-view .product-shop{float:none;width:300px;}
.product-view .product-img-box{margin-bottom:10px;width:310px;}
.product-view .product-img-box .product-image-zoom,
.product-view .product-img-box .product-image-zoom img{height:298px !important;width:298px !important;}
.product-view .product-img-box .more-views li.item-4{}
.product-view .product-name h1{font-size:16px;line-height:19px;}
.product-view .box-tags .form-add .input-box{margin-bottom:5px;width:278px;}
.product-view .box-tags .form-add input.input-text{width:272px;}
.product-view .product-img-box .more-views li{margin:0 6px 0 0;}
.product-view h2{padding:17px 15px;}
.product-view .price-box{float:none !important;display:block !important;margin:0 0 10px;overflow:hidden !important;}
.add-to-cart button.button{float:none;margin-left:25px;}
.add-to-cart .qty-block{padding-top:0;}
.add-to-cart .qty{padding:13px 7px 14px;}
.product-view .product-shop .add-to-links{border-bottom:none;padding-bottom:0;}
.product-view .product-shop .add-to-links li{float:none;font-size:14px;line-height:17px;font-weight:normal;margin:0 !important;padding-bottom:19px;}
.product-view .product-shop .add-to-links li a{font-weight:normal;padding-left:24px !important;}
.product-view .row-product{padding-top:0;}
.product-view .row-product p{float:none !important;font-size:14px;line-height:17px;padding-left:24px !important;}
.product-view .row-product .no-rating{padding-bottom:19px;}
.product-view .row-product .ratings{float:none;padding-bottom:19px;}
.product-view .row-product .ratings .rating-links{padding-left:0 !important;}
.product-view .add-to-links li+li{display:none;}
.product-options .options-list li label{padding-top:2px;}
.product-view .box-description .std{padding:0 15px;}
.product-view .product-collateral #customer-reviews dl{padding:0 15px;}
.product-view #review-form h3,
.product-view #review-form h4,
.product-view .tabs-custom{padding:0 15px;}
.product-collateral #customer-reviews #product-review-table span.nobr{padding:0;}
#review-form #product-review-table{width:299px !important;}
#review-form #product-review-table th{padding:9px 4px;}
#review-form #product-review-table td{padding:14px 4px;}
#review-form .form-list textarea{max-width:304px;min-width:304px;}
.product-collateral .box-collateral{margin-bottom:0;}
.product-collateral .box-collateral h2{cursor:pointer;}
.product-collateral .box-collateral h2 span.toggle{background-image:url(../images/toogle-button2.png);top:20px;height:10px;width:10px;}
.box-collateral-content{display:none;margin-bottom:7px;}
.box-up-sell ul{}
.box-up-sell ul li{overflow:hidden;}
.box-up-sell ul li .product-name{}
.box-up-sell ul li .product-image{float:left;margin-right:15px;}
.box-up-sell ul li .product-image img{height:100px;width:100px;}
.box-up-sell ul li.jcarousel-item .product-image{float:none;margin-right:0;}
.box-up-sell ul li.jcarousel-item .product-image img{height:auto;width:auto;}
.box-up-sell{background:none;border:none;padding:20px 0 0;}
.box-up-sell ul li{float:none;background:none;border:none;border-bottom:1px solid #DDDDDD;padding:0 0 20px;margin:0 0 20px;width:auto !important;}
.box-up-sell .jcarousel-clip{margin:0 63px;width:184px;}
.box-up-sell .jcarousel-clip li{border:none;margin:0;padding:0;width:184px !important;}
.box-up-sell .jcarousel-next{top:150px;right:10px;}
.box-up-sell .jcarousel-prev{top:150px;left:10px;}
.header-container{background:none;}
.header .header-buttons{float:none;}
.header-button.currency-list > a, .header-button.lang-list > a{color:#fff;}
.header-buttons .row-1{float:none;margin-bottom:0;}
.header .row-2 .slogon,
.header .welcome-msg,
.header .header-links{display:none;}
.top-login,
.menu-list{display:block;}
.header-button{height:46px;margin:0;background:#7e1d32;}
.header-button ul{top:46px;right:auto;left:0;}
.header-button > a,
.top-login ul li a{background-color:#7e1d32;background-position:center 15px;border-left:1px solid #ece5e3;height:46px;width:76px;}
.header-button.lang-list a{border:0;}
.top-login ul li a{width:78px;}
.top-login ul li a.Logout_link{background:url(../images/logout.png) center 12px no-repeat;}
.top-login ul li a.Login_link{background:url(../images/login.png) center 12px no-repeat;}
.header-button:hover > a,
.top-login:hover ul li a{background-color:#A6374F;}
.header-button.menu-list > a{background-position:center 11px;}
.header-button.currency-list > a,
.header-button.lang-list > a{background-position:center 36px;padding:12px 0 0;height:34px;width:76px;}
.top-login ul{top:0;left:auto;right:0;}
.padding-r,
.padding-l{padding:0;}
.col-main{padding-bottom:40px;}
.block{margin-bottom:8px;}
.block .block-title{margin-bottom:8px;padding-right:40px;}
.block .block-title:hover{cursor:pointer;}
.block.block-account .block-title:hover{cursor:default;}
.block .block-title span.toggle{top:5px;}
.sidebar .block .block-content{display:none;}
.sidebar .block.block-progress .block-content{display:block;}
.block-compared,
.block-compare,
.products-grid .actions li+li,
.products-list .add-to-links li+li{display:none;}
.block-subscribe .form-subscribe-header{display:none;}
.block-subscribe .input-box{float:none;margin-left:0;width:280px;}
.block-subscribe .input-box input{margin-bottom:5px;width:268px;}
.block-subscribe .validation-advice{padding-left:0;margin:0 0 5px;}
.block-subscribe .actions{margin-left:0;}
.mini-products-list .product-name{width:230px;}
.block-related .product-name{width:213px;}
.video{height:214px;}
.video iframe{height:214px;width:310px;}
#shopping-cart-table .product-image img{height:70px;width:70px;}
.cart .cart-product-block .product-description{width:210px;}
.cart .shipping .form-list li input{width:283px;}
.cart .cart-table-foot{text-align:center;}
.cart .cart-table-foot .btn-continue{float:none;}
.cart .cart-table-foot button.button{margin-bottom:5px;}
.cart .discount-form .input-box input{width:283px;}
.cart .crosssell .add-to-links{float:none;display:block;padding-top:10px;}
.cart .crosssell .add-to-links li{margin:0;}
.cart .crosssell .add-to-links li+li{display:none;}
.cart .crosssell button.btn-cart{float:none;}
.col-main .block-account{display:block;}
.col-left .block-account{display:none;}
.block-account ul li{font-size:14px;line-height:17px;}
.block-account ul li a,
.my-account a{text-decoration:underline;}
.block-account ul li a:hover,
.my-account a:hover{text-decoration:none;}
.my-account .col2-set .col-1,
.my-account .col2-set .col-2{float:none;width:100%;}
.my-account .data-table thead{display:none;}
.my-account .data-table{border:1px solid #ECECEC;width:100%;}
.my-account .data-table tr{display:block;border-bottom:1px solid #ECECEC;}
.my-account .data-table tr.last{border-bottom:none;}
.my-account .data-table td{display:block;border:none;}
.my-account .data-table colgroup{display:none;}
.my-account #my-orders-table td{padding:10px 10px 0 10px;}
.my-account #my-orders-table td.order-qty{font-weight:bold;}
.my-account #my-orders-table td.order-qty .nobr strong{font-weight:normal;}
.my-account #my-orders-table td.order-product-name .product-name{font-weight:bold;}
.my-account #my-orders-table td.order-subtotal.last{text-align:left;}
.my-account #my-orders-table td.last{padding-bottom:10px;}
.my-account #my-orders-table tfoot{border-top:1px solid #ECECEC;}
.my-account #my-orders-table tfoot td{display:inline-block;padding:10px;width:120px;}
.my-account #my-orders-table tfoot td+td{text-align:left !important;}
.my-account #my-orders-table tfoot .grand_total{font-size:14px;line-height:17px;}
.my-account .page-title button.button{margin-top:10px;}
.my-account textarea{max-width:294px;min-width:294px;}
.my-account #wishlist-view-form #wishlist-table textarea{max-width:268px;min-width:268px;}
.my-account #wishlist-view-form .buttons-set{text-align:center;}
.my-account #wishlist-view-form .buttons-set button.button{float:none;margin:0 0 3px;}
.my-account #wishlist-table{}
.my-account #wishlist-table .cart-cell .price-box span.old-price{display:block;}
.my-account #wishlist-table .product-image{margin-left:42px;}
#wishlist-view-form #wishlist-table .product-image img{height:200px;width:200px;}
.my-account #my-tags-table{}
.my-account #my-tags-table td{}
.my-account #my-tags-table td .price-box{overflow:hidden;}
.my-account #my-tags-table td button.button{float:left;margin-right:10px;}
.my-account #my-tags-table .add-to-links{float:right;margin-top:5px;}
.product-review .product-img-box{float:none;overflow:hidden;margin:0 0 20px;width:310px;}
.product-review .product-img-box .product-image{float:left;margin:0 10px 0 0;height:100px;width:100px;}
.product-review .product-img-box .product-image img{height:100px;width:100px;}
.product-review .product-img-box .product-review-block{overflow:hidden;padding-top:20px;}
.product-review .product-img-box .product-review-block .rating-links{text-align:center;}
.block-progress{margin:0;}
.block-progress .block-title span.toggle{display:none !important;}
.opc .field{width:287px;}
.form-list li.wide .input-box{width:288px;}
.form-list select{width:288px;}
.form-list select option{width:257px;}
.opc .form-list li.wide input.input-text,
.form-list input.input-text,
.form-list li.wide input.input-text{width:282px;}
.opc .form-list .customer-name-suffix .name-lastname,
.opc .form-list .customer-name-middlename .name-firstname,
.opc .form-list .customer-name-middlename-suffix .name-firstname,
.opc .form-list .customer-name-middlename-suffix .name-lastname{width:287px;}
.opc .form-list .customer-name-prefix .name-firstname input.input-text,
.opc .form-list .customer-name-suffix .name-lastname input.input-text,
.opc .form-list .customer-name-middlename .name-firstname input.input-text,
.opc .form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.opc .form-list .customer-name-middlename-suffix .name-lastname input.input-text{width:281px;}
.form-list .name-middlename input.input-text{width:99px !important;}
.checkout-multishipping-address-newshipping .form-list li.wide input.input-text{width:281px;}
.checkout-multishipping-address-newshipping .form-list select{width:287px;}
.multiple-checkout .col-1.col-narrow,
.multiple-checkout .col-2.col-wide{float:none;width:100%;}
.multiple-checkout .col-2.col-wide .box{margin-left:0;}
.checkout-progress li{width:279px;}
#checkout-step-login .col2-set .col-1{margin-bottom:10px;}
#checkout-step-login .col2-set .col-1,
#checkout-step-login .col2-set .col-2{float:none;margin-right:0;width:268px;}
#payment-tool-tip{right:0;}
#payment-tool-tip img{width:288px;}
.opc #checkout-review-table{display:block;}
.opc #checkout-review-table thead,
.opc #checkout-review-table colgroup,
.opc #checkout-review-table .item-options{display:none;}
.opc #checkout-review-table td{padding:7px;}
.opc #checkout-review-table tfoot td{padding:7px;}
#checkout-progress-wrapper{display:none;}
.gift-messages-form .inner-box .form-list li.wide textarea{width:281px;}
.gift-messages-form .item .product-img-box{float:none;margin-bottom:10px;}
.gift-messages-form .item .details{margin:0;}
#product_sendtofriend_form .form-list .fields .field input.input-text,
#product_sendtofriend_form #sender_message{width:304px;}
.advanced-search .form-list select{width:286px;}
.title-buttons{text-align:left;}
.cms-privacy-policy-cookie-restriction-mode .data-table thead{display:none;}
.cms-privacy-policy-cookie-restriction-mode .data-table{border:1px solid #ECECEC;width:100%;}
.cms-privacy-policy-cookie-restriction-mode .data-table tr{display:block;border-bottom:1px solid #ECECEC;}
.cms-privacy-policy-cookie-restriction-mode .data-table tr.last{border-bottom:none;}
.cms-privacy-policy-cookie-restriction-mode .data-table td,
.cms-privacy-policy-cookie-restriction-mode .data-table th{display:block;border:none;}
.cms-privacy-policy-cookie-restriction-mode .data-table th{padding:10px 10px 5px;}
.cms-privacy-policy-cookie-restriction-mode .data-table td{padding:5px 10px 10px;}
.cms-about-magento-demo-store .about-col-1,
.cms-about-magento-demo-store .about-col-2,
.cms-about-magento-demo-store .about-col-3,
.cms-about-magento-demo-store .about-col-4,
.cms-about-magento-demo-store .about-col-5,
.cms-about-magento-demo-store .about-col-6{margin:0 0 40px;}
.about-padd,
.about-padd2{padding-bottom:0;}
.page-sitemap .links{margin:0;}
.page-sitemap .pager .amount{display:block;}
.page-sitemap .sitemap{padding:0 15px;}
.footer-cols-wrapper{}
.footer-col{margin-right:0;width:100%;background:none;}
.footer-col-content{display:none;padding:0 0 10px;}
.footer address{border-top:none;}
.footer h4:hover{cursor:pointer;}
.footer h4{margin-bottom:10px;}
.map-popup{left:0 !important;width:320px;}
.map-popup-heading{padding:20px;width:280px;}
#map-popup-content{padding:20px;width:280px;}
.map-content figure iframe{height:310px;width:100%;}
.contact-left,
#contactForm{float:none;margin:0;width:100%;}
#contactForm .form-list .field{float:none;width:100%;}
#contactForm .form-list input.input-text,
#contactForm .form-list li.wide textarea{width:304px;}
.form-alt li.last .input-box{width:auto !important;}
.main-banner{float:none;height:185px;margin-right:0;}
.main-banner img{float:right;}
.block-subscribe-header{float:left;clear:left;width:290px;}
.banner-block{width:290px;margin-bottom:10px;}
.banner-block strong{font-size:20px;line-height:20px;}
.banner-block span{font-size:16px;line-height:16px;}
.addthis_button_google_plusone{clear:left;}
.addthis_counter{clear:inherit;}
.store-switcher{float:none;margin:0 0 10px;}
}
@media only screen and (min-width:480px) and (max-width:767px){.page{margin-top:10px;}
body > .wrapper{background:none;}
.header .logo{margin-top:12px;width:auto;}
.header .form-search .input-text{width:357px;}
.header-button.currency-list > a,
.header-button.lang-list > a{padding:12px 0 0;width:109px;}
.page{max-width:450px;}
.account-login .registered-users .form-list input.input-text{width:372px;}
.form-list input.input-text,
.form-list li.wide input.input-text{width:333px;}
.form-list .name-middlename{width:132px;}
.form-list .customer-name-prefix .name-firstname input.input-text,
.form-list .customer-name-suffix .name-lastname input.input-text,
.form-list .customer-name-middlename .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-lastname input.input-text{width:202px;}
.form-list .customer-name-suffix .name-lastname,
.form-list .customer-name-middlename .name-firstname,
.form-list .customer-name-middlename-suffix .name-firstname,
.form-list .customer-name-middlename-suffix .name-lastname{width:230px;}
.form-list .name-middlename input.input-text{width:104px;}
.form-list .customer-dob .dob-year input.input-text{width:213px;}
.cart .discount-form .input-box input{width:372px;}
.shipping .jqTransformSelectWrapper{width:378px !important;}
.cart .shipping .form-list li input{width:372px;}
#shopping-cart-table,
.cart .data-table tr{width:440px;}
.box-up-sell .products-grid td{width:378px;}
.box-up-sell .jcarousel-clip{margin:0 128px;}
.box-up-sell .jcarousel-next{right:50px;}
.box-up-sell .jcarousel-prev{left:50px;}
.block-wishlist .product-name{width:320px;}
.product-view .product-shop{width:440px;}
.product-view .product-img-box{width:100%;}
.product-view .product-img-box .product-image-zoom,
.product-view .product-img-box .product-image-zoom img{height:400px !important;width:400px !important;}
.product-view .product-img-box .more-views li.item-4{margin-left:0;}
.product-view .product-name h1{font-size:16px;line-height:19px;}
.product-view .box-tags .form-add .input-box{margin-bottom:10px;width:408px;}
.product-view .box-tags .form-add input.input-text{width:402px;}
.products-grid .product-image,
.products-grid img,
.products-list .product-image,
.products-list img{height:auto;width:120px;}
.products-grid .product-shop,
.products-list .product-shop{width:300px;}
.products-grid li.item,
.products-list li.item{width:440px;}
.products-grid .product-name a, .products-list .product-name a{font-size:12px;}
.cms-home .products-grid .product-image{width:120px;}
.header-button > a,
.top-login ul li a{width:109px;}
.block-subscribe .input-box{width:410px;}
.block-subscribe .input-box input{width:398px;}
.map-popup{left:50px !important;width:340px;}
.map-popup-heading,
#map-popup-content{width:300px;}
.block-subscribe .input-box{width:322px;}
.mini-products-list .product-name{width:360px;}
.video{height:303px;}
.video iframe{height:303px;width:440px;}
.my-account #my-orders-table tfoot td{width:197px;}
.my-account #wishlist-view-form #wishlist-table textarea{max-width:407px;min-width:407px;}
.cart .cart-product-block .product-description{width:300px;}
#shopping-cart-table .product-image img{height:100px;width:100px;}
.cart .shipping .form-list li select{width:378px;}
.form-list li.wide .input-box{width:288px;}
.form-list select{width:418px;}
.form-list select option{width:386px;}
.opc .form-list li.wide input.input-text,
.form-list input.input-text,
.form-list li.wide input.input-text{width:412px;}
#review-form .form-list input{width:434px;}
#review-form .form-list textarea{max-width:434px;min-width:434px;}
.opc .form-list .customer-name-suffix .name-lastname,
.opc .form-list .customer-name-middlename .name-firstname,
.opc .form-list .customer-name-middlename-suffix .name-firstname,
.opc .form-list .customer-name-middlename-suffix .name-lastname{width:296px;}
.opc .form-list .customer-name-prefix .name-firstname input.input-text,
.opc .form-list .customer-name-suffix .name-lastname input.input-text,
.opc .form-list .customer-name-middlename .name-firstname input.input-text,
.opc .form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.opc .form-list .customer-name-middlename-suffix .name-lastname input.input-text{width:270px;}
.form-list .name-middlename{width:122px;}
.form-list .name-middlename input.input-text{width:182px !important;}
.gift-messages-form .inner-box .form-list li.wide textarea{max-width:412px;width:412px;}
.checkout-multishipping-address-newshipping .form-list li.wide input.input-text{width:412px;}
.checkout-multishipping-address-newshipping .form-list select{width:418px;}
#checkout-step-login .col2-set .col-1,
#checkout-step-login .col2-set .col-2{width:398px;}
#checkout-step-login .col-2 .form-list .input-box{width:398px;}
#checkout-step-login .col-2 .form-list input.input-text{width:392px;}
#payment-tool-tip img{width:418px;}
.checkout-progress{margin:0 65px 40px;}
.advanced-search .form-list select{width:416px;}
.cms-about-magento-demo-store .about-col-1,
.cms-about-magento-demo-store .about-col-2,
.cms-about-magento-demo-store .about-col-3{width:382px;}
.cms-about-magento-demo-store .about-col-4,
.cms-about-magento-demo-store .about-col-5,
.cms-about-magento-demo-store .about-col-6{width:440px;}
#contactForm .form-list input.input-text,
#contactForm .form-list li.wide textarea{width:434px;}
.main-banner{height:185px;width:308px;margin:0 auto 10px !important;}
.main-banner img{float:right;}
.main-banner.num-3 img{float:left;}
.banner-block{width:420px;margin-bottom:10px;}
.banner-block strong{font-size:28px;line-height:28px;}
.banner-block span{font-size:22px;line-height:22px;}
.block-subscribe-header{width:420px;}
.addthis_button_google_plusone{clear:inherit;}
.container{margin:0 auto;}
}