.nav-container{position:relative;z-index:2;}
.cms-home .nav-container{}
.sf-menu{background:url(../images/nav-bg.jpg) 0 0 repeat-x;font-size:13px;line-height:17px;margin:0 -10px;box-shadow:0px 5px 5px rgba(0,0,0,0.21);-moz-box-shadow:0px 5px 5px rgba(0,0,0,0.21);-webkit-box-shadow:0px 5px 5px rgba(0,0,0,0.21);}
.sf-menu li{float:left;text-align:left;position:relative;z-index:99;}
.sf-menu > li{background:url(../images/sf-menu-line.png) no-repeat right top;}
.sf-menu li a{display:block;color:#383737;text-decoration:none;position:relative;padding:0;}
.sf-menu > li > a > span{display:block;font-size:17px;line-height:17px;color:#f7f3f1;cursor:pointer;white-space:nowrap;padding:13px 25px 15px;}
.sf-menu li ul a span{white-space:normal;}
.sf-menu > li.parent > a > span{background:url(../images/marker-8.gif) center -62px no-repeat;}
#nav > li.sfHover > a,
#nav > li > a:hover,
#nav > li.active > a{color:#fff;background:url(../images/active-menu.png) repeat-x left top;}
#nav > li.sfHover > a span,
#nav > li > a:hover span,
#nav > li.active > a span{color:#fff;}
.sf-menu li.active,
.sf-menu li.sfHover,
.sf-menu li:hover{}
.sf-menu li a:hover{text-decoration:none;}
.sf-menu ul{position:absolute;top:-999em;z-index:99;width:192px;display:none;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edeae8', endColorstr='#ffffff');background:-webkit-gradient(linear, left top, left bottom, from(#edeae8), to(#fff));background:-moz-linear-gradient(top, #edeae8, #fff);background:-o-linear-gradient(top, #edeae8, #fff);background:-ms-linear-gradient(top, #edeae8, #fff);box-shadow:0px 5px 10px rgba(0,0,0,0.08);-moz-box-shadow:0px 5px 10px rgba(0,0,0,0.08);-webkit-box-shadow:0px 5px 10px rgba(0,0,0,0.08);}
.sf-menu li li{border-bottom:1px solid #e2e1e1;}
.sf-menu li li.last{border-bottom:none;}
.sf-menu li li.sfHover,
.sf-menu li li,
.sf-menu li li:hover{float:none;border-right:none;position:relative;padding:6px 15px 4px;}
.sf-menu li li a,
.sf-menu li.sfHover li a,
.sf-menu li.active li a{display:inline-block;background:none;font-size:11px;line-height:15px;color:#5a5a5a;padding:0;}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a{color:#953046;}
.sf-menu ul ul{position:absolute;top:-999em;z-index:99;width:192px;}
.sf-menu li li li a,
.sf-menu li li.sfHover li a,
.sf-menu li li.active li a{}
.sf-menu li li li a:hover,
.sf-menu li li li.active a{}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul{left:0px;top:47px;}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul{top:-999em;}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul{left:193px;top:0;}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul{top:-999em;}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul{left:193px;top:0;}
#menu-icon{display:none;}
@media only screen and (min-width:768px) and (max-width:995px){.sf-menu{display:block !important;margin:0;}
.sf-menu ul{width:130px;}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul{left:131px;width:130px;}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul{left:131px;}
.sf-menu > li > a > span{padding:13px 20px 15px;}
}
@media only screen and (max-width:767px){.main-menu{padding:0 20px 10px;position:relative;}
#menu-icon{display:block;background:url(../images/menu-icon-bg.png) 265px 11px no-repeat #3a3a3a;border-bottom:5px solid #953046;font-size:17px;line-height:21px;color:#fff;cursor:pointer;text-transform:uppercase;padding:13px 0 0 10px;height:33px;}
#menu-icon:hover,
#menu-icon.active{background-color:#B90100;border-bottom:5px solid #953046;}
#menu-icon.active{background-position:265px -47px;border-color:#B90100;background-color:#3a3a3a;}
.sf-menu{display:none;background:#3a3a3a;clear:both;position:relative;top:auto;right:auto;left:auto;padding:13px 20px 20px;z-index:2;margin:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
.sf-menu li,
.sf-menu li li{clear:both;float:none;margin:0;background:none;border:none;}
.sf-menu li li.sfHover,
.sf-menu li li,
.sf-menu li li:hover{padding:8px 0;}
.sf-menu li li a, .sf-menu li.sfHover li a, .sf-menu li.active li a{color:#fff;}
.sf-menu li li.last{padding-bottom:0 !important;}
.sf-menu li.parent > a{position:relative;}
.sf-menu li.sfHover.parent > a{}
.sf-menu > li{padding:8px 0;border-bottom:1px solid #515050;}
.sf-menu li a{display:inline-block;background:none;border:none;color:#fff;}
.sf-menu li a:hover{color:#B90100;}
.sf-menu > li > a > span{display:inline-block;color:inherit;padding:0;}
.sf-menu li strong{position:absolute;display:block;background:url(../images/toogle-button2.png) center -54px no-repeat;top:4px;right:0;height:24px;width:24px;}
.sf-menu li strong:hover{cursor:pointer;}
.sf-menu li strong.opened{background-position:center 7px;}
.sf-menu a,
.sf-menu ul a{font:inherit;display:inline;border:none;}
.sf-menu li a:hover{}
.sf-menu ul,
.sf-menu ul ul{width:auto;position:static;border:none;background:inherit;padding:8px 0 0 20px;box-shadow:none;}
#nav > li.sfHover > a,
#nav > li > a:hover span,
#nav > li.active > a{color:#B90100;}
.nav-container{margin-bottom:17px;}
#menu-icon:hover,
#menu-icon.active{background-color:#3A3A3A;border-bottom:5px solid #953046;}
}
@media only screen and (min-width:480px) and (max-width:767px){#menu-icon{cursor:pointer;display:block;text-indent:0px;background-position:405px 11px;}
#menu-icon.active{background-position:405px -47px;}
}